{% extends "layout.html" %}

{% block content %}
<html ng-app="ListeaFaire">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Liste Choses à Faire</title>
    <script src="/views/todolists/index.js"></script>
</head>

<body ng-controller="mainController" style="margin:50;padding:5">
    <center>
    {% raw %}
    <hr>
    <button type="button" class="btn btn-primary mb-2" type="submit" onclick="window.history.back();">Retour sur mon espace</button>
    <hr>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3"><h3>Nom de la liste:</h3></div>
        <div class="col-md-auto"><div id="listname" style="display: block;" ng-dblclick="editList()"><h3>{{laliste.name}}</h3></div><div id="listname_modify" style="display: none;"><input type="text" class="form-control" name="name" ng-model="listData.name"></div></div>
        <div class="col-sm-2"><button type="submit" id="modify-list" class="btn btn-success mb-2" ng-click="editList()">Modifier la liste</button></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3"><h3>Description :</h3></div>
        <div class="col-md-auto"><div id="listdesc" style="display: block;" ng-dblclick="editList()"><h4>{{laliste.description}}</h4></div><div id="listdesc_modify" style="display: none;"><input type="text" class="form-control" name="description" ng-model="listData.description"></div></div>
        <!-- <div class="col-sm-2"><button type="submit" id="delete-list" class="btn btn-danger" ng-click="deleteList()"> x </button></div> -->
    </div>
    <hr>
    Nombre d'élements contenus: {{laliste.tasks.length}}
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-danger mb-2" type="submit" ng-click="deleteAll()">Supprimer les tâches faites</button>
    <br/>
    <hr>
    <table class="table table-bordered" id="todo-list">
        <thead class="thead-dark">
            <tr>
            <th scope="col"> # </th>
            <th scope="col">Fait :</th>
            <th scope="col">Tâche :</th>
            <th scope="col">De :</th>
            <th scope="col">Date :</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tr div ng-repeat="x in laliste.tasks" ng-style="x.done && { 'background-color' : 'lightblue' }">
                <th scope="col"> N° {{ $index+1 }} </th>
                <th scope="col"><input type="checkbox" id="done-{{$index}}" ng-checked="x.done" ng-click="isChecked($index, x)"></th>
                <th scope="col">
                    <div id="xtext-{{$index}}" style="display: block;" ng-dblclick="!x.done && modifyTodo($index, x)" ng-style="x.done && { 'text-decoration' : 'line-through' }">
                    {{ x.text }}
                    </div>
                    <div id="xtextmodify-{{$index}}" style="display: none;" class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" name="text" ng-model="modifyData.text">
                    </div>
                </th>
                <th scope="col">
                    <div id="xcreator-{{$index}}" style="display: block;" ng-dblclick="!x.done && modifyTodo($index, x)" ng-style="x.done && { 'text-decoration' : 'line-through' }">
                    {{ x.creator }}
                    </div>
                    <div id="xcreatormodify-{{$index}}" style="display: none;" class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" name="creator" ng-model="modifyData.creator">
                    </div>
                </th>
                <th scope="col"><label ng-bind="x.date  | date:'dd MMM yyyy à HH:mm'"></label></th>
                <th scope="col"><button type="submit" id="modify-{{$index}}" class="btn btn-success mb-2" ng-click="modifyTodo($index, x)" ng-disabled="x.done">Modifier</button></th>
                <th scope="col"><button type="submit" id="delete-{{$index}}" class="btn btn-danger" ng-click="deleteTodo(x._id)"> x </button></th>
    </table>
    <hr>
    <form class="form-inline">
		<div id="todo-form" class="form-group mx-sm-3 mb-2">
            Tâche :
        </div>
        <div id="todo-form" class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" placeholder="écrire quelque chose" ng-model="formData.text">
        </div>
        <div id="change-name-div" class="form-group mx-sm-3 mb-2" style="display: none;">
            <div id="todo-form">
                Crée par :
                <input type="creator" class="form-control" placeholder="Nom" ng-model="formData.creator">
            </div>
        </div>
        <button type="button" id="change-name" class="btn btn-secondary mb-2" ng-click="persoNom()">+Nom</button>
        &nbsp&nbsp
		<button type="submit" class="btn btn-success mb-2" ng-click="createTodo()">Ajouter</button>
    </form>
    {% endraw %}
</center>
</body>
</html>
{% endblock %}
